/* font import */
:root{
    --pry-blue:hsl(220, 98%, 61%);
    --check: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
   /* Light Theme */
    --light-gray:hsl(0, 0%, 98%);
    --very-light-gray-blue:hsl(236, 33%, 92%);
    --light-gray-blue:hsl(233, 11%, 84%);
    --dark-gray-blue:hsl(236, 9%, 61%);
    --very-dark-gray-blue: hsl(235, 19%, 35%);
    /* Dark Theme */
    --Very-Dark-Blue:hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
    /* font */
    --font:"Josefin Sans";
    --size:18px;
    --w1:400;
    --w2:700;
}
*{
    box-sizing:border-box;
}

body{
    background-color: var(--Very-Dark-Blue);
    color:var(--light-gray);
    font-family:var(--font);
    font-size:var(--size); 
    margin:0;
    padding:0;
}

.hero{
    background-image:url(images/bg-desktop-dark.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    height:300px;

}
.light-img{
    background-image:url(./images/bg-desktop-light.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    height:300px;
}

.todo{
    width:50%;
    margin:10px auto;
    z-index:1;
    position:relative;
    top:-280px;
}
.todo-head{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.title{
    text-transform:uppercase;
    font-size:2rem;
}
form{
    width: 100%;
    position:relative;
}
.circle{
    position: absolute;
    top: 106px;
    left: 20px;
    background-color: transparent;
    border: 2px solid var(--Dark-Grayish-Blue);
    border-radius: 50%;
    width:24px;
    height:24px;

}
input[type="text"]{
    width: 100%;
    padding: 20px 65px;
    border-radius:5px;
    background-color:var(--Very-Dark-Desaturated-Blue);
    border:none;
    color:var(--Light-Grayish-Blue);
    font-family: var(--font);
    font-size: var(--size);
    outline:none;
}
.todo-list{
    width:100%;
    background-color:var(--Very-Dark-Desaturated-Blue);
    border-radius:5px;
    margin: 30px 0;
    padding:0;
    display:block;
    /* box-shadow: 0 3px 12px var(--Very-Dark-Desaturated-Blue); */
}
.todo-list ul{
    width:inherit;
    height:inherit;
    align-self:center;
    padding:3px 0;
    margin-bottom: -10px;

}
ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px;
    border-bottom:1px solid var(--Dark-Grayish-Blue);
    width:100%;
    text-align: left;
}
ul li:last-child{
    border-bottom: none;
}
ul li .bullet{
   background-color: transparent;
    width:30px;
    height:30px;
    border-radius:50%;
    display:block;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--Light-Grayish-Blue);
}

ul .show-complete .bullet{
    background-image:url(./images/icon-check.svg),var(--check) ;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    color: var(--light-gray-blue);
    
}
.show-complete .text{
    text-decoration:line-through;
    color: var(--dark-gray-blue);
}
/* todo-bottom */
.todo-bottom{
    color:var(--Dark-Grayish-Blue);
    display:flex;
    align-items:center;
    justify-content: space-between;
    position:relative;
    padding:0 10px;
    /* border-top: 1px solid var(--Light-Grayish-Blue); */
}
.todo-bottom p:hover{
    color: var(--Light-Grayish-Blue-hover);
    cursor:pointer;
}
.choice{
    color: var(--Dark-Grayish-Blue);
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 5px 10px;
}
#all, #active, #complete{
    margin: 0 10px;
}
#all{
    color:var(--pry-blue);
}
h4{
    color:var(--Dark-Grayish-Blue);
    text-align:center;
}
.attribution { font-size: 11px; text-align: center;margin-top: -150px; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width:900px) {
    .hero{
        background-image:url(./images/bg-mobile-dark.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        width:100%;
        height:300px;
    }
    .light-img{
        background-image:url(./images/bg-mobile-light.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        width:100%;
        height:300px;
    }
    .todo{
        width:70%;
        margin:10px auto;
        z-index:1;
        position:relative;
        top:-280px;
    }

}
@media screen and (max-width:600px) {
    .hero{
        background-image:url(./images/bg-mobile-dark.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        
    }
    .light-img{
        background-image:url(./images/bg-mobile-light.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        width:100%;
        height:300px;
    }
    .todo{
        width:90%;
        margin:10px auto;
        z-index:1;
        position:relative;
        top:-250px;
    }
    .choice{
        display:none;
    }
    .mobile-choice{
        background-color: var(--Very-Dark-Desaturated-Blue);
        display:flex;
        justify-content:space-around;
        align-items:center;
        position:absolute;
        top:75px;
        left: 0;
        width: 100%;
        padding: 10px 20px;
        border-radius:5px;
      
    }
    h4{
        position:relative;
        top:70px;
    }
    .text{
        margin-left: 8px;
        
    }
    .attribution { 
        font-size: 11px; 
        text-align: center;
        margin-top: -90px; 
    }
    ul li .bullet{
        background-color: transparent;
        width: 26px;
        height: 26px;
        border-radius:50%;
        display: block;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--Very-Dark-Grayish-Blue);
    }
}
